body{
    user-select: none;
}

.gamePage{
    background-color: aliceblue;
    height: calc(100% - 52.5px);
}
.bg-purple {
    background: rgb(48,0,50);
}
.bg-gray {
    background: rgb(74,74,74);
}
.bg-blue {
    background: rgb(50,101,196);
}
.bg-red {
    background: rgb(196,50,53);
}

.border-n{
    border: 3px solid blue!important;
    border-bottom: none!important;
}

.bg-gold{
    background-color:darkgoldenrod;
}

.monkeyColumn{
    display: grid;
    grid-template-columns: 65px 65px 65px 65px;
    grid-auto-rows: 65px;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

.monkeyColumn::-webkit-scrollbar{
    display: none;
}

.monkey{
    z-index: 10;
    background: green;
    background-image: url(../images/monkey-basic.png);
    width: 64px;
    height: 64px;
    margin: 1px;
}

.tab-bar{
    width: 100%;
    overflow: hidden;
    background-color: burlywood;
}

.tab-button{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.tab-container{
}

.tab{
}

.breeder{
    height: 300px;
    background: gainsboro;
    width: 100%;
    margin: 0;
}