@import url('https://fonts.cdnfonts.com/css/minecraft-3');


.compendiumBackground{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(../../images/compendium_background.png);
    background-size: 100% 100%;
}
.compendium{
    
    width: 2000px;
    height: 2000px;
    background: grey;
    background: rgba(168, 168, 168, 0.25);
    align-items: center;
    position: relative;
    left: var(--CompendiumLeft);
    top: var(--CompendiumTop);
    border: 5px solid black;

}

.compendium .compendiumMonkey{
    width:128px;
    height: 128px;
    background-color: antiquewhite;
    background-image: url(../../images/monkeys.png);
    background-size: 3200%;
    image-rendering: pixelated;
    background-position: 0px 0px;
}

body{
    overflow: hidden;
}

#zoom {
    transform-origin: 0 0;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
  }


  /*START BOOk*/

.book {
    width: 100%;
    height: 100%;
    display: flex;
}

.book .page {
    width: calc(1920px - 480px);
    height: 100%;
    background: rgba(54, 224, 38, 0.25);
}

.book .bookTabs {
    width: 480px;
    height: 100%;
    background-color: rgba(219 7 7 / 25%);
}

.bookTabs .bookTab {
    width: 100%;
    height: 66px;
    background: rgba(7, 92, 219, 0.25);
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    font-family: 'Minecraft', sans-serif;
    font-size: 35px;
    line-height: 70px;
    display: flex;
}

.bookTabs .bookTab:hover {
    filter: brightness(0.5);
    transform: translate(-20px);
}

.bookTab .monkeyIcon{
    width: 64px;
    height: 64px;
    margin-right: 10px;
    background-image: url(../../images/monkeys.png);
    
}

.bookTabs .widgets{
    background: green;
    width: 100%;
}

.widget {
    width: 64px;
    height: 64px;
    background: grey;
    background-image: url(../../images/widget_icons.png);
}

.widget:hover {
    filter: brightness(1.1);
    cursor: pointer;
    image-rendering: pixelated;
}

.widget.settings{
    background-position: -64px 0px;
}

.widget.compendiumIcon{
    background-position: 0px 0px;
}

.widget.compendiumExit{
    background-position: -128px 0px;
}