.compendiumBackground{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(../../images/compendium_background.png);
    background-size: 100% 100%;
}
.compendium{
    
    width: 2000px;
    height: 2000px;
    background: grey;
    background: rgba(168, 168, 168, 0.25);
    align-items: center;
    position: relative;
    left: var(--CompendiumLeft);
    top: var(--CompendiumTop);
    border: 5px solid black;

}

.compendium .compendiumMonkey{
    width:128px;
    height: 128px;
    background-color: antiquewhite;
    background-image: url(../../images/monkeys.png);
    background-size: 3200%;
    image-rendering: pixelated;
    background-position: 0px 0px;
}

body{
    overflow: hidden;
}

#zoom {
    transform-origin: 0 0;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
  }