.card{
    height: 960px;
    width: 640px;
    position: absolute;
    left: calc(25%);
    top: 20px;
    padding: 30px 0px 10px 30px;
    border-radius: 10px;
    image-rendering: pixelated;
    background-image: url(../../images/card-background.png);
}

.card .picture{
    background-image: url(../../images/monkeys.png);
    width: 320px;
    height: 320px;
    background-size: 3200%;
    image-rendering: pixelated;
    background-position: -5440px -320px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px 7px;
}